
  .example-card {
    max-width: 200px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .example-card:hover {
    cursor: pointer;
    transform: translate3d(0,-4px,0);
    box-shadow: 0 12px 30px 0 rgba(0,0,0,.2);
    transition-property: box-shadow,transform;
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(.16,1,.29,.99);
  }
  
.card-inline{
    display: inline-block;
}
  
.space-card{
    margin: 1rem;
}


  